.note-top{
    width: 240px;
    border: 1px solid #e0e0e0 ;
    border-radius: 8px;
}

.note-input{
    border: none;

}

.note-title{
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 16px 16px 0 16px;
    margin: 0;
}

.note-body{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    padding: 4px 16px 12px 16px;
    margin: 0;
}

.note-zoom{
    width: 600px;
    border: 1px solid #e0e0e0 ;
    border-radius: 8px;
}